<% book.book_comments.each do |book_comment| %>
	<tr id="comment_<%= book_comment.id %>">
		<td><%= attachment_image_tag(book_comment.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %><br>
			<%= book_comment.user.name %>
		</td>
		<td><%= book_comment.comment %></td>
		<% if book_comment.user == current_user %>
			<td><%= link_to 'Destroy', book_book_comments_path(book_comment.id), class: 'btn-sm btn-danger', method: :delete, remote: true %></td>
		<% end %>
	</tr>
<% end %>