<div class="row">
<div class="col-md-6 col-md-offset-3">
<% if @book.errors.any? %>
  <div class="alert alert-warning">
    <%= pluralize(@book.errors.count,"error") %>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      </div>
      <% end %>
<% end %>
<h1>Editing Book</h1>

<%= render "books/newform", book: @book %>
<%= link_to "Show", @book, class: "book_#{@book.id}" %>
<%= link_to "Back", books_path, class: "back" %>

</div>
<div class="col-md-3"></div>

</div>
